.idea/
.vscode/
node_modules/
build/
tmp/
temp/
# Environment files
.env
.env.*   # if you use multiple env files like .env.local, .env.production
# Swagger documentation (for testing only)
swaggerdoc/
